

h1 {text-align: center; color: rgb(252, 249, 249) ;
    background-color: black;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px black;
    margin-top: 30px;
    margin-left: 450px; 
    margin-right: 450px; 
    font-family: serif;
 }

h2 { border: 2px solid; color: rgb(0, 0, 0); padding: 5px;
    background: linear-gradient(green, lightgreen, darkgreen);}

    #recuadro {  border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 300px;
        margin-right: 300px;
        padding: 30px;
        background-color: rgba(89, 181, 209, 0.5); 
       
    }

    button{
        display: block;
        width: 60%;
        margin: 0 auto;
        height: 2em;
        font-size: 1.1rem;
        border-color: black;
     }

body {
    margin: 50px;
    background-color: #f2f2f2;
    color: #252525;
    transition: 0.5s ease-in-out;
}

.small-txt {
    margin: 20px 0;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;   /* Hides certain features of widgets */ 
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
} 

input[type="checkbox"]:checked {
    background-color: #04ac2e;
}

input[type="checkbox"]::before {
     content: '';
     position: absolute;
     width: 16px;
     height: 16px;
     background-color: #f2f2f2;
     border-radius: 50%;
     top: 2px;
     left: 2px;
     transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

.modo-oscuro {
    background-color: #252525;
    color: #f2f2f2;
}